.App {
  min-height: 100vh;
}

.AppContent {
  text-align: center;
  /* background-color: #282c34; */
  background-color: #f38428;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.card:hover{
  box-shadow: 8px 8px 8px blue;
  transform:scale(1.1);
  cursor: pointer;
}